<div class='tw_edit_instructions_popup'>
  <h3>Optional Markup for TypeWright</h3>
  <p>TypeWright offers the option of inserting more detailed information about the text being transcribed and verified. The following lists some of the optional markups that may be used in TypeWright.  </p>

  <table width="334" border="1" cellpadding="7" cellspacing="0" style="border: 1px #CCCCCC;">
    <colgroup> <col width="157" /> <col width="263" /> <col width="156" /> </colgroup>
    <tbody>
    <tr valign="TOP" bgcolor="#CCCCCC" style="font-weight: bold;">
      <td width="100" height="21">MARKUP</td>
      <td width="200">TAG/ATTRIBUTE</td>
    </tr>
    <tr valign="TOP">
      <td width="100">Italics</td>
      <td width="200">&lt;hi rend=&quot;italic&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Boldface</td>
      <td width="200">&lt;hi rend=&quot;bold&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#FFFFFF">
      <td width="100">Superscript</td>
      <td width="200">&lt;hi rend=&quot;sup&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Subscript</td>
      <td width="200">&lt;hi rend=&quot;sub&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#FFFFFF">
      <td width="100">Smallcaps</td>
      <td width="200">&lt;hi rend=&quot;smallcaps&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Underlining</td>
      <td width="200">&lt;hi rend=&quot;underline&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#FFFFFF">
      <td width="100">Centered Line</td>
      <td width="200">&lt;hi rend=&quot;center”&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Drop Cap</td>
      <td width="200">&lt;hi rend=&quot;dropcap&quot;&gt;...&lt;/hi&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#FFFFFF">
      <td width="100">Page Header</td>
      <td width="200">&lt;fw type=&quot;header&quot;&gt;...&lt;/fw&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Page Number</td>
      <td width="200">&lt;fw type=&quot;pageNum&quot;&gt;...&lt;/fw&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#FFFFFF">
      <td width="100">Signature Mark</td>
      <td width="200">&lt;fw type=&quot;sig&quot;&gt;...&lt;/fw&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Catchword</td>
      <td width="200">&lt;fw type=&quot;catch&quot;&gt;...&lt;/fw&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#FFFFFF">
      <td width="100">Strikethrough</td>
      <td width="200">&lt;del rend=&quot;overstrike&quot;&gt;...&lt;/del&gt;</td>
    </tr>
    <tr valign="TOP" bgcolor="#F1F1F1">
      <td width="100">Inverted character</td>
      <td width="200">&lt;c rend="inverted"&gt;...&lt;/c&gt;</td>
    </tr>
    </tbody>
  </table>
  <p>For more details on the Markups that TypeWright recognizes, visit the <a href="http://www.18thconnect.org/about/typewright/optional-markup-guidelines/" title="TypeWright Markup Guidelines" target="_new">TypeWright Markup Page</a></p>
</div>